<h2>Product Edit - {{product.name}} </h2>

<form (ngSubmit)="saveProduct()" #productForm="ngForm" >

  <p *ngIf="productForm.dirty">
    Form Changed
  </p>

  <p *ngIf="productForm.invalid">
      Form is invalid
    </p>

  <label for="name">
    Name
  </label>
  <input name="name"
         [(ngModel)]="product.name" 
         
         required
         minlength="2"  

         #productName="ngModel"

         #pName
         />


    <button (click)="pName.focus()" type="button">
      Set Focus
    </button>

  <p *ngIf="productName.invalid">
     Invalid Input Name
  </p>

  <pre *ngIf="productName.errors">
      {{productName.errors | json}}
  </pre>
    

  <label for="price">
   Price
  </label>
  <input name="price"
         type="number"
        [(ngModel)]="product.price" />


  <label for="year">
    Year
  </label>
  <input name="year"
         type="number"
        [(ngModel)]="product.year" />

  <label for="weight">
    Weight
  </label>
  <input name="weight"
        [(ngModel)]="product.weight" />

  <label for="brandId">
    Brand
  </label>

  <select name="brandId"
          [(ngModel)]="product.brandId"
          required
          >
    <option [value]="brand.id"
            *ngFor="let brand of (brands$ | async)">
          {{brand.name}}
    </option>
  </select>

  <button type="submit">
    Save
  </button>
      

</form>

<button (click)="gotoList()">
  List Page
</button>