<div>
    <!--
        angular templates shall be converted into JavaScript code
            JIT - Just in Time - convertion takes place in browser
                               - @angular/compiler code is shipped to browser
                                 increase size by at least 2 MB
            AoT - Ahead of Time - conversion takes place at build time 
                                    on build/dev machine
                                    @angular/compiler code is not shipped to browser
                                    

        {{expr}} - interpolation
            angular execute/evaluate expression, 
            convert result into string
            and render in html page


    -->
    <h2>{{title}}</h2>
</div>