<h2>Cart Table</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Total</th>
        <th>Ops</th>
    </tr>

    <!-- the row shall be repeated for each item -->

    <tr *ngFor="let item of items">
        <td>{{item.name  | uppercase }}</td>
        <td>{{item.price | number:'0.2'  | currency:'INR' }}</td>
        <td>{{item.qty}}</td>
        <td>{{ (item.qty * item.price) | currency:'INR'  }}</td>
        <td>
            <button (click)="deleteItem(item.id)">X</button>
        </td>
    </tr>
</table>